@model DevOps.UI.Models.EmailMaster

<div class="login-content">

    @using (Html.BeginForm())
    {
        <h2><center>Edit</center></h2>
        <div class="nk-block toggled" id="l-register">
            <input type="hidden" id="EmailMasterId" name="id" value="@Model.EmailMasterId" />
            <div class="nk-form rform">
                <div class="input-group">
                    <span class="input-group-addon nk-ic-st-pro"><i class="fas fa-user"></i></span>
                    <div class="nk-int-st">
                        @Html.EditorFor(model => model.EmailId, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>
                <br />

                <div class="input-group">
                    <span class="input-group-addon nk-ic-st-pro"><i class="fas fa-map-marker-alt"></i></span>
                    <div class="nk-int-st">
                        @Html.DropDownList("OrganisationId", new SelectList(ViewBag.Organizations, "OrganisationId", "Name"), "Search", new { @class = "udropdown" })
                    </div>
                </div>
                <br />

                <input type="submit" id="editbtn" value="Submit" class=" btn-success uloginbtn" />

                <a href="#l-login" data-ma-action="nk-login-switch" data-ma-block="#l-login" class="btn btn-login btn-success btn-float"><i class="notika-icon notika-right-arrow"></i></a>
            </div>
        </div>
    }
</div>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script>
    $('#editbtn').click(function (e) {
        e.preventDefault();
        var EmailMasterId = $('#EmailMasterId').val();
        var EmailID = $('#EmailId').val();
        var OrganisationId = $('#OrganisationId').val();
        var url1 = "http://localhost:60969/api/EmailMaster/UpdateEmailMaster";
        $.ajax({
            url: url1,
            type: 'POST',//type of posting the data
            data: { "EmailMasterId": EmailMasterId ,"EmailID": EmailID, OrganisationId: OrganisationId },
            success: function (r) {
                alert('Server Credentials Added Successfully');
                var url2 = "http://localhost:57996/Settings/EmailMaster";
                $.ajax({
                    url: url2,
                    type: 'GET',//type of posting the data
                    contentType: 'application/json',
                    dataType: 'html',
                    success: function (r) {
                        $("#partialbody").empty();
                        $("#partialbody").html(r);
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        //what to do in error
                    }
                });
            },
            error: function (xhr, ajaxOptions, thrownError) {
                //what to do in error
                console.log(thrownError);
            }
        });

    });</script>

