@model IEnumerable<DevOps.UI.Models.Projects>
<!-- Data Table area Start-->
<div class="data-table-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="data-table-list">
                    <div class="table-responsive">
                        <h4>Projetcs</h4>
                        <table id="data-table-basic" class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Project Name</th>
                                    <th>Solution Name</th>
                                    <th>Organization Name</th>
                                    <th>Source URL</th>
                                    <th>File Format </th>
                                    <th>Status</th>
                                    <th>Type</th>
                                    <th>Platform</th>
                                    <th>Created By</th>
                                    <th>Modified By</th>
                                    <th>Created Date</th>
                                    <th>Last Modified Date</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script>
        $(document).ready(function () {
            $.ajax({
                url: "http://localhost:60969/api/Projects/GetProjects",
                context: document.body,
                success: function (data) {
                    console.log(data);
                    $("#data-table-basic tbody").empty();
                    for (var i = 0, li = data.length; i < li; i++) {
                        var newTr = "<tr> <td>" + data[i].projectName + " </td><td>" + data[i].solutionName + "</td><td>" + data[i].organisation.name + "</td><td>" + data[i].sourceURL + "</td><td>" + data[i].fileFormat + "</td><td>" + data[i].status + "</td><td>" + data[i].type + "</td><td>" + data[i].plateform + "</td><td>" + data[i].user.name + "</td><td>" + data[i].user1.name + "</td><td>" + data[i].createdDate + "</td><td>" + data[i].lastModifiedDate + "</td><td> <input type='hidden' value=" + data[i].projectId + ">";
                        if ('@Session["Role"].ToString()' == "Admin" || '@Session["Role"].ToString()' == "ReleaseManager") {
                            newTr += "<a class='editajax' id = '" + data[i].projectId + "' href = '#' > Edit</a ></td> <td><a class='deleteajax' id='" + data[i].projectId + "' href='#'>Delete</a>";
                        }
                        newTr += "</td></tr>";
                        $("#data-table-basic").append(newTr);
                        if ('@Session["Role"].ToString()' == "Admin" || '@Session["Role"].ToString()' == "ReleaseManager") {
                            document.getElementsByClassName("editajax")[i].addEventListener("click", function (event) {
                                event.preventDefault();
                                var url1 = "http://localhost:57996/Projects/EditProject/" + event.target.id;
                                $.ajax({
                                    url: url1,
                                    type: 'GET',//type of posting the data
                                    contentType: 'application/json',
                                    dataType: 'html',
                                    success: function (r) {
                                        //console.log(r.ViewString);
                                        $("#partialbody").empty();
                                        $("#partialbody").html(r);
                                    },
                                    error: function (xhr, ajaxOptions, thrownError) {
                                        //what to do in error
                                        alert(thrownError);
                                    }
                                });

                            });
                            document.getElementsByClassName("deleteajax")[i].addEventListener("click", function (event) {
                                event.preventDefault();
                                //alert(event.target.id);
                                if (confirm("Are you Sure Want to delete?")) {
                                    var id = event.target.id;
                                    var url1 = "http://localhost:60969/api/Projects/DeleteProject/" + id;
                                    $.ajax({
                                        url: url1,
                                        type: 'POST',//type of posting the data
                                        data: '{id: "' + id + '"}',
                                        dataType: 'json',
                                        success: function (r) {
                                            alert('Project Deleted Successfully');
                                            var url2 = "http://localhost:57996/Projects/Projects";
                                            $.ajax({
                                                url: url2,
                                                type: 'GET',//type of posting the data
                                                contentType: 'application/json',
                                                dataType: 'html',
                                                success: function (r) {
                                                    $("#partialbody").empty();
                                                    $("#partialbody").html(r);
                                                },
                                                error: function (xhr, ajaxOptions, thrownError) {
                                                    //what to do in error
                                                }
                                            });
                                        },
                                        error: function (xhr, ajaxOptions, thrownError) {
                                            //what to do in error
                                            alert(thrownError);
                                        }
                                    });
                                }
                            });
                        }
                    }

                }
            });
        });
</script>
