@model DevOps.UI.Models.Project
    @{
        Layout = null;
    }

    <div class="login-content">
        <!-- Login -->
        @using (Html.BeginForm("Registration", "Projects", FormMethod.Post))
        {
            <h2><center>Registration</center></h2>
            <div class="nk-block toggled" id="l-register">
                <div class="nk-form rform">
                    <div class="input-group">
                        <span class="input-group-addon nk-ic-st-pro"><i class="fas fa-user"></i></span>
                        <div class="nk-int-st">
                            <input type="text" class="form-control" placeholder="Name" id="ProjectName" name="ProjectName">
                        </div>
                    </div>
                    <br />

                    <div class="input-group">
                        <span class="input-group-addon nk-ic-st-pro"><i class="fas fa-map-marker-alt"></i></span>
                        <div class="nk-int-st">
                            <input type="text" id="SolutionName" class="form-control" placeholder="SolutionName" name="SolutionName">
                        </div>
                    </div>
                    <br />

                    <div class="input-group">
                        <span class="input-group-addon nk-ic-st-pro"><i class="fas fa-mobile-alt"></i></span>
                        <div class="nk-int-st">
                            <input type="text" id="SourceURL" class="form-control" placeholder="SourceURL" name="SourceURL">
                        </div>
                    </div>
                    <br />

                    <div class="input-group mg-t-15">
                        <span class="input-group-addon nk-ic-st-pro"><i class="fas fa-envelope"></i></span>
                        <div class="nk-int-st">
                            <input type="text" id="FileFormat" class="form-control" placeholder="FileFormat" name="FileFormat">
                        </div>
                    </div>
                    <br />

                    <div class="input-group mg-t-15">
                        <span class="input-group-addon nk-ic-st-pro"><i class="fas fa-unlock-alt"></i></span>
                        <div class="nk-int-st">
                            <input type="text" id="Status" class="form-control" placeholder="Status" name="Status">
                        </div>
                    </div>
                    <br />

                    <div class="input-group mg-t-15">
                        <span class="input-group-addon nk-ic-st-pro"><i class="fas fa-unlock-alt"></i></span>
                        <div class="nk-int-st">
                            <input type="text" id="Type" class="form-control" placeholder="Type" name="Type">
                        </div>
                    </div>
                    <br />

                    <div class="input-group mg-t-15">
                        <span class="input-group-addon nk-ic-st-pro"><i class="fas fa-calendar-alt"></i></span>
                        <div class="nk-int-st">
                            <input type="text" id="Plateform" class="form-control" placeholder="Plateform" name="Plateform">
                        </div>
                    </div>
                    <br />

                    @if (Session["Role"].ToString() == "Admin")
                    {
                        <div class="input-group mg-t-15">
                            <span class="input-group-addon nk-ic-st-pro"><i class="fas fa-sitemap"></i></span>
                            <div class="nk-int-st">
                                @Html.DropDownList("Organizations", new SelectList(ViewBag.Orgs, "OrganisationId", "Name"), "--Select--", new { @class = "udropdown" })
                            </div>
                        </div>
                    }
                    @if (Session["Role"].ToString() != "Admin")
                    {
                        <div class="input-group mg-t-15">
                            @*<span class="input-group-addon nk-ic-st-pro"><i class="fas fa-sitemap"></i></span>*@
                            <div class="nk-int-st">
                                <input type="hidden" id="Organizations" name="Organizations" value="@Session["Organization"].ToString()" />
                            </div>
                        </div>
                    }
                    <input type="submit" id="submit" value="Submit" class=" btn-success uloginbtn" />

                    <a href="#l-login" data-ma-action="nk-login-switch" data-ma-block="#l-login" class="btn btn-login btn-success btn-float"><i class="notika-icon notika-right-arrow"></i></a>
                </div>
            </div>
        }
    </div>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script>
        $('#submit').click(function (e) {
            e.preventDefault();
            var ProjectName = $('#ProjectName').val();
            var SolutionName = $('#SolutionName').val();
            var SourceURL = $('#SourceURL').val();
            var FileFormat = $('#FileFormat').val();
            var Status = $('#Status').val();
            var Type = $('#Type').val();
            var Plateform = $('#Plateform').val();
            var OrganizationId = $('#Organizations').val();
            var url1 = "http://localhost:57996/Projects/Registration";
            $.ajax({
                url: url1,
                type: 'POST',//type of posting the data
                data: '{ProjectName: "' + ProjectName + '",SolutionName: "' + SolutionName + '",SourceURL: "' + SourceURL + '",FileFormat: "' + FileFormat + '",Status: "' + Status + '",Type: "' + Type + '",Plateform: "' + Plateform + '",OrganisationId:"' + OrganizationId +
                    '"}',
                contentType: 'application/json',
                dataType: 'json',
                success: function (r) {
                    var url2 = "http://localhost:57996/Projects/Projects";
                    $.ajax({
                        url: url2,
                        type: 'GET',//type of posting the data
                        contentType: 'application/json',
                        dataType: 'html',
                        success: function (r) {
                            $("#partialbody").empty();
                            $("#partialbody").html(r);
                        },
                        error: function (xhr, ajaxOptions, thrownError) {
                            //what to do in error
                        }
                    });
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    //what to do in error
                    console.log(thrownError);
                }
            });

        });
    </script>