@{
    Layout = null;
}
<!doctype html>
<html class="no-js" lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Login Register | Notika - Notika Admin Template</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- favicon
        ============================================ -->
    <link rel="shortcut icon" type="image/x-icon" href="~/img/favicon.ico">
    <!-- Google Fonts
        ============================================ -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,700,900" rel="stylesheet">
    <!-- Bootstrap CSS
        ============================================ -->
    <link rel="stylesheet" href="~/Content/css/bootstrap.min.css">
    <!-- font awesome CSS
        ============================================ -->
    <link rel="stylesheet" href="~/Content/css/font-awesome.min.css">
    <!-- owl.carousel CSS
        ============================================ -->
    <link rel="stylesheet" href="~/Content/css/owl.carousel.css">
    <link rel="stylesheet" href="~/Content/css/owl.theme.css">
    <link rel="stylesheet" href="~/Content/css/owl.transitions.css">
    <!-- animate CSS
        ============================================ -->
    <link rel="stylesheet" href="~/Content/css/animate.css">
    <!-- normalize CSS
        ============================================ -->
    <link rel="stylesheet" href="~/Content/css/normalize.css">
    <!-- mCustomScrollbar CSS
        ============================================ -->
    <link rel="stylesheet" href="~/Content/css/scrollbar/jquery.mCustomScrollbar.min.css">
    <!-- wave CSS
        ============================================ -->
    <link rel="stylesheet" href="~/Content/css/wave/waves.min.css">
    <!-- Notika icon CSS
        ============================================ -->
    <link rel="stylesheet" href="~/Content/css/notika-custom-icon.css">
    <!-- main CSS
        ============================================ -->
    <link rel="stylesheet" href="~/Content/css/main.css">
    <!-- style CSS
        ============================================ -->
    <link rel="stylesheet" href="~/Content/css/style.css">
    <!-- responsive CSS
        ============================================ -->
    <link rel="stylesheet" href="~/Content/css/responsive.css">


    <!-- modernizr JS
        ============================================ -->
    <script src="~/Scripts/js/vendor/modernizr-2.8.3.min.js"></script>
</head>
<body>
    <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <!-- Login Register area Start-->
    <div class="login-content">
        <!-- Login -->
        @*@using (Html.BeginForm("ForgotPassword", "Users", FormMethod.Post))
            {*@
        <form id="userForm">
            <h2>ResetPassword</h2>

            <div class="nk-block toggled" id="l-login">
                <div class="nk-form">
                    <div class="input-group">
                        <span class="input-group-addon nk-ic-st-pro"><i class="notika-icon notika-support"></i></span>


                        <div class="input-group mg-t-15">
                            <span class="input-group-addon nk-ic-st-pro"><i class="fas fa-unlock-alt"></i></span>
                            <div class="nk-int-st">
                                <input type="password" id="Password" class="form-control" placeholder="Password" name="Password">
                            </div>
                        </div>
                        <br />

                        <div class="input-group mg-t-15">
                            <span class="input-group-addon nk-ic-st-pro"><i class="fas fa-unlock-alt"></i></span>
                            <div class="nk-int-st">
                                <input type="password" id="cPassword" class="form-control" placeholder="Confirm Password" name="cPassword">
                            </div>
                        </div>
                        <br />
                    </div>
                    <br /><br />
                    <input type="submit" id="submit" value="Submit" class=" btn-success uloginbtn" />
                </div>
            </div>
        </form>

    </div>


    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script>
        //var validation = false;
        //function validatePassword() {
        //    $.validator.addMethod(
        //        "regex",
        //        function (value, element, regexp) {
        //            var re = new RegExp(regexp);
        //            return this.optional(element) || re.test(value);
        //        },
        //        "Please check your input."
        //    );
        //    var validator = $("#userForm").validate({
        //        rules: {
        //            Password: {
        //                required: true,
        //                regex: /^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!\$%\^&\*])/,
        //                minlength: 8,
        //            },
        //            cPassword: {
        //                required: true,
        //                minlength: 8,
        //                equalTo: "#Password"
        //            },

        //        },
        //        messages: {
        //            Password: {
        //                required: " Enter Password",
        //                regex: "password must contail atleas 1 uppercase, 1 lowercase, 1 digit and 1 Special Character",
        //                minLength: "Password Must be of minimun 8 Characters",
        //            },
        //            cPassword: {
        //                required: " Enter Password",
        //                minLength: "Confirm Password Must be of minimun 8 Characters",
        //                equalTo: " Enter Confirm Password Same as Password",
        //            }
        //        }
        //    });
        //    if (validator.form()) {
        //        validation = true;
        //    }
        //}
        var validation = false;
        function validatePassword() {
            $.validator.addMethod(
                "regex",
                function (value, element, regexp) {
                    var re = new RegExp(regexp);
                    return this.optional(element) || re.test(value);
                },
                "Please check your input."
            );
            var validator = $("#userForm").validate({
                rules: {
                    Password: {
                        required: true,
                        regex: /^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!\$%\^&\*])/,
                        minlength: 8,
                    },
                    cPassword: {
                        required: true,
                        minlength: 8,
                        equalTo: "#Password"
                    },
                },
                messages: {
                    Password: {
                        required: " Enter Password",
                        regex: "password must contail atleas 1 uppercase, 1 lowercase, 1 digit and 1 Special Character",
                        minLength: "Password Must be of minimun 8 Characters",
                    },
                    cPassword: {
                        required: " Enter Password",
                        minLength: "Confirm Password Must be of minimun 8 Characters",
                        equalTo: " Enter Confirm Password Same as Password",

                    }
                }
            });
            if (validator.form()) {
                validation = true;
            }
        }

        $('#submit').click(function (e) {
            e.preventDefault();
            validatePassword();
            if (validation) {
                e.preventDefault();
                var url = window.location.href;
                var Email = url.split('=').pop(-1);
                var Password = $('#Password').val();
                var url1 = "http://localhost:60969/api/Users/UpdatePassword";
                $.ajax({
                    url: url1,
                    type: 'POST',//type of posting the data
                    data: '{Email: "' + Email + '",Password: "' + Password + '"}',
                    contentType: 'application/json',
                    dataType: 'json',
                    success: function (r) {
                        alert('Password Updated Successfully');
                        var url2 = "http://localhost:57996/Users/Login";
                        window.location.href = url2;
                        //$.ajax({
                        //    url: url2,
                        //    type: 'GET',//type of posting the data
                        //    contentType: 'application/json',
                        //    dataType: 'html',
                        //    success: function (r) {
                        //        $("#partialbody").empty();
                        //        $("#partialbody").html(r);
                        //    },
                        //    error: function (xhr, ajaxOptions, thrownError) {
                        //        //what to do in error
                        //    }
                        //});
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        //what to do in error
                        console.log(thrownError);
                    }
                });
            }
        });

        </script>

        <!--Login Register area End-->
        <!--jquery
            ============================================ -->
            @*<script src="~/Scripts/js/vendor/jquery-1.12.4.min.js"></script>*@
    <!-- bootstrap JS
        ============================================ -->
    <script src="~/Scripts/js/bootstrap.min.js"></script>
    <!-- wow JS
        ============================================ -->
    <script src="~/Scripts/js/wow.min.js"></script>
    <!-- price-slider JS
        ============================================ -->
    <script src="~/Scripts/js/jquery-price-slider.js"></script>
    <!-- owl.carousel JS
        ============================================ -->
    <script src="~/Scripts/js/owl.carousel.min.js"></script>
    <!-- scrollUp JS
        ============================================ -->
    <script src="~/Scripts/js/jquery.scrollUp.min.js"></script>
    <!-- meanmenu JS
        ============================================ -->
    <script src="~/Scripts/js/meanmenu/jquery.meanmenu.js"></script>
    <!-- counterup JS
        ============================================ -->
    <script src="~/Scripts/js/counterup/jquery.counterup.min.js"></script>
    <script src="~/Scripts/js/counterup/waypoints.min.js"></script>
    <script src="~/Scripts/js/counterup/counterup-active.js"></script>
    <!-- mCustomScrollbar JS
        ============================================ -->
    <script src="~/Scripts/js/scrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
    <!-- sparkline JS
        ============================================ -->
    <script src="~/Scripts/js/sparkline/jquery.sparkline.min.js"></script>
    <script src="~/Scripts/js/sparkline/sparkline-active.js"></script>
    <!-- flot JS
        ============================================ -->
    <script src="~/Scripts/js/flot/jquery.flot.js"></script>
    <script src="~/Scripts/js/flot/jquery.flot.resize.js"></script>
    <script src="~/Scripts/js/flot/flot-active.js"></script>
    <!-- knob JS
        ============================================ -->
    <script src="~/Scripts/js/knob/jquery.knob.js"></script>
    <script src="~/Scripts/js/knob/jquery.appear.js"></script>
    <script src="~/Scripts/js/knob/knob-active.js"></script>
    <!--  Chat JS
        ============================================ -->
    <script src="~/Scripts/js/chat/jquery.chat.js"></script>
    <!--  wave JS
        ============================================ -->
    <script src="~/Scripts/js/wave/waves.min.js"></script>
    <script src="~/Scripts/js/wave/wave-active.js"></script>
    <!-- icheck JS
        ============================================ -->
    <script src="~/Scripts/js/icheck/icheck.min.js"></script>
    <script src="~/Scripts/js/icheck/icheck-active.js"></script>
    <!--  todo JS
        ============================================ -->
    <script src="~/Scripts/js/todo/jquery.todo.js"></script>
    <!-- Login JS
        ============================================ -->
    <script src="~/Scripts/js/login/login-action.js"></script>
    <!-- plugins JS
        ============================================ -->
    <script src="~/Scripts/js/plugins.js"></script>
    <!-- main JS
        ============================================ -->
    <script src="~/Scripts/js/main.js"></script>
</body>
</html>