@model DevOps.UI.Models.Branch
<div class="login-content">

    @using (Html.BeginForm())
    {
        <h2><center>Edit</center></h2>
        <div class="nk-block toggled" id="l-register">
            <input type="hidden" id="id" name="id" value="@Model.BranchId" />
            <input type="hidden" id="ProjectId" name="ProjectId" value="@Model.ProjectId" />
            <div class="nk-form rform">
                <div class="input-group">
                    <span class="input-group-addon nk-ic-st-pro"><i class="fas fa-user"></i></span>
                    <div class="nk-int-st">
                        @Html.EditorFor(model => model.BranchName, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>
                <br />

                <input type="submit" id="editbtn" value="Submit" class=" btn-success uloginbtn" />

                <a href="#l-login" data-ma-action="nk-login-switch" data-ma-block="#l-login" class="btn btn-login btn-success btn-float"><i class="notika-icon notika-right-arrow"></i></a>
            </div>
        </div>
    }
</div>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script>$('#editbtn').click(function (e) {
        e.preventDefault();
        var BranchId = $('#id').val();
        var ProjectId = $('#ProjectId').val();
        var BranchName = $('#BranchName').val();

        var url1 = "http://localhost:60969/api/Branches/UpdateBranch";
        $.ajax({
            url: url1,
            type: 'POST',//type of posting the data
            data: '{BranchId: "' + BranchId + '",ProjectId: "' + ProjectId + '",BranchName: "' + BranchName + '"}',
            contentType: 'application/json',
            dataType: 'json',
            success: function (r) {
                alert('Branch Name Updated Successfully');
                var url2 = "http://localhost:57996/Branch/Branch"
                $.ajax({
                    url: url2,
                    type: 'GET',//type of posting the data
                    contentType: 'application/json',
                    dataType: 'html',
                    success: function (r) {
                        $("#partialbody").empty();
                        $("#partialbody").append(r);
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        //what to do in error
                    }
                });
            },
            error: function (xhr, ajaxOptions, thrownError) {
                //what to do in error
                console.log(thrownError);
            }
        });

    });</script>

