@model DevOps.UI.Models.ServerCredential



<div class="login-content">
    <!-- Login -->
    @using (Html.BeginForm("InsertCredentials", "ServerConfiguration", FormMethod.Post))
    {
        <h2><center>Registration</center></h2>
        <div class="nk-block toggled" id="l-register">
            <div class="nk-form rform">
                <input type="hidden" id="ID" value="@ViewBag.serverID" />
                <div class="input-group">
                    <span class="input-group-addon nk-ic-st-pro"><i class="fas fa-user"></i></span>
                    <div class="nk-int-st">
                        <input type="text" id="HostName" class="form-control" placeholder="HostName" name="HostName">
                    </div>
                </div>
                <br />

                <div class="input-group">
                    <span class="input-group-addon nk-ic-st-pro"><i class="fas fa-map-marker-alt"></i></span>
                    <div class="nk-int-st">
                        <input type="text" id="Password" class="form-control" placeholder="Password" name="Password">
                    </div>
                </div>
                <br />


                <div class="input-group">
                    <span class="input-group-addon nk-ic-st-pro"><i class="fas fa-flag"></i></span>
                    <div class="nk-int-st">

                        <input type="text" id="ConnectionString" class="form-control" placeholder="ConnectionString" name="ConnectionString">
                    </div>
                </div>
                <br />

                <input type="submit" id="submit" value="Submit" class=" btn-success uloginbtn" />

                <a href="#l-login" data-ma-action="nk-login-switch" data-ma-block="#l-login" class="btn btn-login btn-success btn-float"><i class="notika-icon notika-right-arrow"></i></a>
            </div>
        </div>
    }
</div>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script>
    $('#submit').click(function (e) {
        e.preventDefault();
        var ServerId = $('#ID').val();
        var HostName = $('#HostName').val();
        var Password = $('#Password').val();
        var ConnectionString = $('#ConnectionString').val();
        var url1 = "http://localhost:60969/api/Servers/InsertServerCredentials";
        $.ajax({
            url: url1,
            type: 'POST',//type of posting the data
            data: '{HostName: "' + HostName + '",Password: "' + Password + '",ConnectionString: "' + ConnectionString + '",ServerId: "' + ServerId +
                '"}',
            contentType: 'application/json',
            dataType: 'json',
            success: function (r) {
                alert('Server Credentials Added Successfully');
                var url2 = "http://localhost:57996/Servers/Servers";
                $.ajax({
                    url: url2,
                    type: 'GET',//type of posting the data
                    contentType: 'application/json',
                    dataType: 'html',
                    success: function (r) {
                        $("#partialbody").empty();
                        $("#partialbody").html(r);
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        //what to do in error
                    }
                });
            },
            error: function (xhr, ajaxOptions, thrownError) {
                //what to do in error
                console.log(thrownError);
            }
        });

    });
</script>



