@model DevOps.UI.Models.Emails

@{
    ViewBag.Title = "ShareServer";
}

<h2>ShareServer</h2>

<div class="login-content">
    <!-- Login -->
    <form>
        <h2><center>Registration</center></h2>
        <div class="nk-block toggled" id="l-register">
            @*<input type="hidden" id="organisationId" name="organisationId" value="@Model.OrganisationId" />*@
            <div class="nk-form rform">

                @*<div class="input-group">
                    <span class="input-group-addon nk-ic-st-pro"><i class="fas fa-user"></i></span>
                    <div class="nk-int-st">
                        <input type="text" id="From" class="form-control" placeholder="From" name="From" value="GDevOpsBuild@gmail.com">
                    </div>
                </div>
                <br />*@

                <div class="input-group mg-t-15">
                    <span class="input-group-addon nk-ic-st-pro"><i class="fas fa-sitemap"></i></span>
                    <div class="nk-int-st">
                        @Html.DropDownList("To", new SelectList(ViewBag.To, "Text", "Text"), "--Select Email--", new { @class = "udropdown" })
                    </div>
                </div>
                <br />

                <div class="input-group">
                    <span class="input-group-addon nk-ic-st-pro"><i class="fas fa-user"></i></span>
                    <div class="nk-int-st">
                        <input type="text" id="Subject" class="form-control" placeholder="Subject" name="Subject" value="Server Credentials">
                    </div>
                </div>
                <br />


                <div class="input-group">
                    <span class="input-group-addon nk-ic-st-pro"><i class="fas fa-user"></i></span>
                    <div class="nk-int-st">
                        <input type="text" id="hostName" class="form-control" placeholder="hostName" name="hostName" value="HostName :-@ViewBag.Hostname ">
                    </div>
                </div>
                <br />

                <div class="input-group">
                    <span class="input-group-addon nk-ic-st-pro"><i class="fas fa-map-marker-alt"></i></span>
                    <div class="nk-int-st">
                        <input type="text" id="connectionString" class="form-control" placeholder="connectionString" name="connectionString" value="Your Connection string is:- @ViewBag.ConnectionString">
                    </div>
                </div>
                <br />

                <div class="input-group">
                    <span class="input-group-addon nk-ic-st-pro"><i class="fas fa-map-marker-alt"></i></span>
                    <div class="nk-int-st">
                        <input type="text" id="password" class="form-control" placeholder="password" name="password" value="Your Password is :-@ViewBag.Password">
                    </div>
                </div>
                <br />




                <br /><br />
                <input type="submit" id="submit" value="Submit" class=" btn-success uloginbtn" />

                <a href="#l-login" data-ma-action="nk-login-switch" data-ma-block="#l-login" class="btn btn-login btn-success btn-float"><i class="notika-icon notika-right-arrow"></i></a>
            </div>
        </div>


    </form>
</div>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script>
$('#submit').click(function (e) {
    e.preventDefault();
    var Subject = $('#Subject').val();
    var To = $('#To').val();
    var body = $('#hostName').val() + $('#connectionString').val() +$('#password').val();
    //var organisationId = $('#organisationId').val();
    //var hostName = $('#hostName').val();
    //var password = $('#password').val();
    //var connectionString = $('#connectionString').val();
           
    var url1 = "http://localhost:57996/Servers/ShareServerCredentials";
            $.ajax({
                url: url1,
                type: 'POST',//type of posting the data
                data:'{Subject: "' + Subject + '",body: "' + body +  '",To: "' + To +  '"}',

                //data: '{organisationId: "' + organisationId + '",hostName: "' + hostName + '",password: "' + password + '",connectionString: "' + connectionString + '"}',
                contentType: 'application/json',
                dataType: 'json',
                success: function (r) {
                    alert('Email Send Successfully');
                    var url2 = "http://localhost:57996/Servers/Servers";
                    $.ajax({
                        url: url2,
                        type: 'GET',//type of posting the data
                        contentType: 'application/json',
                        dataType: 'html',
                        success: function (r) {
                            $("#partialbody").empty();
                            $("#partialbody").html(r);
                        },
                        error: function (xhr, ajaxOptions, thrownError) {
                            //what to do in error
                            alert(thrownError);
                        }
                    });
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    //what to do in error
                    console.log(thrownError);
                }
            });

        });</script>

