@model DevOps.UI.Models.PackageRelease
@{
    Layout = null;
}
<div class="login-content">
    <!-- Login -->
    @using (Html.BeginForm("Registration", "Organization", FormMethod.Post))
    {
        <h2><center>Registration</center></h2>
        <div class="nk-block toggled" id="l-register">
            <div class="nk-form rform">
                <div class="input-group">
                    <span class="input-group-addon nk-ic-st-pro"><i class="fas fa-user"></i></span>
                    <div class="nk-int-st">
                        <input type="text" id="PackageName" class="form-control" placeholder="PackageName" name="PackageName">
                    </div>
                </div>
                <br />

                <div class="input-group">
                    <span class="input-group-addon nk-ic-st-pro"><i class="fas fa-map-marker-alt"></i></span>
                    <div class="nk-int-st">
                        <input type="text" id="PackageVersion" class="form-control" placeholder="PackageVersion" name="PackageVersion">
                    </div>
                </div>
                <br />



                <br /><br />
                <input type="submit" id="submit" value="Submit" class=" btn-success uloginbtn" />
                <a href="#l-login" data-ma-action="nk-login-switch" data-ma-block="#l-login" class="btn btn-login btn-success btn-float"><i class="notika-icon notika-right-arrow"></i></a>
            </div>
        </div>
    }
</div>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script>
    $('#submit').click(function (e) {
        e.preventDefault();
        var PackageName = $('#PackageName').val();
        var PackageVersion = $('#PackageVersion').val();

        var url1 = "http://localhost:60969/api/Package/InsertPackage";
        $.ajax({
            url: url1,
            type: 'POST',//type of posting the data
            data: '{PackageName: "' + PackageName + '",PackageVersion: "' + PackageVersion +
                '"}',
            contentType: 'application/json',
            dataType: 'json',
            success: function (r) {
                alert('User Created Successfully');
                var url2 = "http://localhost:57996/Package/Packages";
                $.ajax({
                    url: url2,
                    type: 'GET',//type of posting the data
                    contentType: 'application/json',
                    dataType: 'html',
                    success: function (r) {
                        $("#partialbody").empty();
                        $("#partialbody").html(r);
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        //what to do in error
                    }
                });
            },
            error: function (xhr, ajaxOptions, thrownError) {
                //what to do in error
                console.log(thrownError);
            }
        });

    });
</script>
